.card {
  cursor: pointer;
  transition: all 0.4s ease;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
  background: #f2f2f2;
}

.form-select {
  padding: 15px 0 15px 32px;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  max-width: 280px;
  border-radius: 5px;
  padding: 15px 0 15px 15px;
}

.loading {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loading1 {
  position: fixed;
  width: 250px !important;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}