.dark {
  background-color: #202c36;
  color: #fff;
}

.dark .site-header {
  background-color: #2b3844;
}

.dark p {
  color: #fff;
}

.light {
  background-color: #fff;
}

.light .site-header {
  background-color: #fff;
}

.light p {
  color: #111517;
}
